In [1]:
import pandas as pd
import numpy as np

In [5]:
df17 = pd.read_excel('../data/stop_frisk/sqf-2017.xlsx', na_values='(null)')

In [6]:
df17.head()

,STOP_FRISK_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,RECORD_STATUS_CODE,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,...,STOP_LOCATION_SECTOR_CODE,STOP_LOCATION_APARTMENT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_PREMISES_NAME,STOP_LOCATION_STREET_NAME,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_PATROL_BORO_NAME,STOP_LOCATION_BORO_NAME
0,1,2017-01-16,14:26:00,2017,January,Monday,Based on Self Initiated,APP,SGT,574,...,NaN,NaN,180 GREENWICH STREET,NaN,GREENWICH STREET,982381,201750,NaN,PBMS,MANHATTAN
1,2,2017-01-16,14:26:00,2017,January,Monday,Based on Self Initiated,APP,SGT,574,...,NaN,NaN,180 GREENWICH STREET,NaN,GREENWICH STREET,982381,201750,NaN,PBMS,MANHATTAN
2,3,2017-02-08,11:10:00,2017,February,Wednesday,Based on C/W on Scene,APP,POM,863,...,C,NaN,WALL STREET && BROADWAY,NaN,WALL STREET,981005,197131,NaN,PBMS,MANHATTAN
3,4,2017-02-20,11:35:00,2017,February,Monday,Based on Self Initiated,APP,POM,1,...,H,NaN,75 GREENE STREET,NaN,GREENE STREET,984031,202796,NaN,PBMS,MANHATTAN
4,5,2017-02-21,13:20:00,2017,February,Tuesday,Based on Radio Run,APP,POM,1,...,H,2,429 WEST BROADWAY,NaN,WEST BROADWAY,983894,203523,NaN,PBMS,MANHATTAN

In [11]:
df17.to_csv('../data/stop_frisk/2017.csv',index=False)

In [10]:
df17.STOP_LOCATION_X.dtype

dtype('O')

In [12]:
df18 = pd.read_excel('../data/stop_frisk/sqf-2018.xlsx', na_values='(null)')

In [13]:
df18.head()

,STOP_FRISK_ID,STOP_FRISK_DATE,Stop Frisk Time,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,RECORD_STATUS_CODE,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,...,STOP_LOCATION_SECTOR_CODE,STOP_LOCATION_APARTMENT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_PREMISES_NAME,STOP_LOCATION_STREET_NAME,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_PATROL_BORO_NAME,STOP_LOCATION_BORO_NAME
0,1,2018-01-01,19:04:00,2018,January,Monday,Based on C/W on Scene,APP,POM,1,...,G,NaN,VARICK STREET && FRANKLIN STREET,NaN,VARICK STREET,982327,201274,NaN,PBMS,MANHATTAN
1,2,2018-01-01,23:00:00,2018,January,Monday,Based on Radio Run,APP,POM,34,...,C,NaN,DYCKMAN STREET && POST AVENUE,NaN,DYCKMAN STREET,1004892,253548,NaN,PBMN,MANHATTAN
2,3,2018-01-01,23:55:00,2018,January,Monday,Based on Radio Run,APP,POM,808,...,B,4M,2245 RANDALL AVENUE,NaN,RANDALL AVENUE,1026706,237776,NaN,PBBX,BRONX
3,4,2018-01-01,03:23:00,2018,January,Monday,Based on Radio Run,APP,POM,63,...,B,NaN,EAST 38 STREET && AVENUE L,NaN,EAST 38 STREET,1001347,166195,NaN,PBBS,BROOKLYN
4,5,2018-01-01,03:23:00,2018,January,Monday,Based on Radio Run,APP,POM,63,...,B,NaN,EAST 38 STREET && AVENUE L,NaN,EAST 38 STREET,1001347,166195,NaN,PBBS,BROOKLYN

In [20]:
df18.WEAPON_FOUND_FLAG.value_counts()

N    10054
Y      954
Name: WEAPON_FOUND_FLAG, dtype: int64

In [21]:
df18.to_csv('../data/stop_frisk/2018.csv',index=False)

In [24]:
df2011 = pd.read_csv('../data/stop_frisk/2011_top.csv', encoding='cp437', )

In [25]:
df2011.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2011,102,185,1012011,0,A,O,P,1,BURGLARY,...,,102,B,,,1030708,194185,CM,1,14
1,2011,115,50,1012011,5,A,O,P,1,FEL,...,,115,I,,,1021302,213563,CM,1,85
2,2011,100,4,1012011,7,1,O,H,1,CPW,...,,100,B,4,34,1037668,153549,CM,1,20
3,2011,100,3,1012011,7,1,O,H,1,CPW,...,,100,B,4,34,1037668,153549,CM,1,20
4,2011,100,1,1012011,7,1,O,H,1,CPW,...,,100,B,4,34,1037668,153549,CM,1,20

In [26]:
df2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Columns: 112 entries, year to detailcm
dtypes: int64(19), object(93)
memory usage: 874.2+ KB

In [38]:
filespecs = {year : pd.read_excel(f'../data/stop_frisk/filespecs/{year} SQF File Spec.xlsx', header=3) for year in range(2003, 2018)}
filespecs[2003]

,Variable,Position,Label,Measurement Level,Column Width,Alignment,Print Format,Write Format
0,year,1,YEAR OF STOP (CCYY),Nominal,5,Left,A5,A5
1,pct,2,PRECINCT OF STOP (FROM 1 TO 123),Nominal,4,Left,A4,A4
2,ser_num,3,UF250 SERIAL NUMBER,Nominal,7,Left,A7,A7
3,datestop,4,DATE OF STOP (MM-DD-YYYY),Nominal,8,Right,F8,F8
4,timestop,5,TIME OF STOP (HH:MM),Scale,8,Left,A5,A5
...,...,...,...,...,...,...,...,...
106,xcoord,107,LOCATION OF STOP X COORD,Nominal,24,Left,A32,A32
107,ycoord,108,LOCATION OF STOP Y COORD,Nominal,24,Left,A6,A6
108,dettypCM,109,DETAILS TYPES CODE,Nominal,24,Left,A2,A2
109,lineCM,110,COUNT >1 ADDITIONAL DETAILS,Nominal,24,Left,A5,A5
110,detailCM,111,CRIME CODE DESCRIPTION,Nominal,6,Left,A78,A78

In [37]:
filespecs2018 = pd.read_excel(f'../data/stop_frisk/filespecs/2018 SQF File Spec.xlsx')
filespecs2018

,"Stop, Question, and Frisk. Stop, Question and Frisk Trespass",Variable Position
0,STOP_FRISK_ID,A
1,STOP_FRISK_DATE,B
2,Stop Frisk Time,C
3,YEAR2,D
4,MONTH2,E
...,...,...
78,STOP_LOCATION_X,CA
79,STOP_LOCATION_Y,CB
80,STOP_LOCATION_ZIP_CODE,CC
81,STOP_LOCATION_PATROL_BORO_NAME,CD
82,STOP_LOCATION_BORO_NAME,CE

In [49]:
for year in range(2004,2017):
    print(year, filespecs[2003].equals(filespecs[year]))

2004 True
2005 True
2006 True
2007 True
2008 True
2009 True
2010 True
2011 False
2012 False
2013 False
2014 False
2015 False
2016 False

In [54]:
for year in range(2012,2017):
    print(year, filespecs[2011].equals(filespecs[year]))

2012      Variable  Position  Label  Measurement Level  Column Width  Alignment  \
0        True      True   True               True          True       True
1        True      True   True               True          True       True
2        True      True   True               True          True       True
3        True      True   True               True          True       True
4        True      True   True               True          True       True
..        ...       ...    ...                ...           ...        ...
107      True      True   True               True          True       True
108      True      True   True               True          True       True
109      True      True   True               True          True       True
110      True      True   True               True          True       True
111      True      True   True               True          True       True

     Print Format  Write Format
0            True          True
1            True          True
2            True          True
3            True          True
4            True          True
..            ...           ...
107          True          True
108          True          True
109          True          True
110          True          True
111          True          True

[112 rows x 8 columns]
2013      Variable  Position  Label  Measurement Level  Column Width  Alignment  \
0        True      True   True               True          True       True
1        True      True   True               True          True       True
2        True      True   True               True          True       True
3        True      True   True               True          True       True
4        True      True   True               True          True       True
..        ...       ...    ...                ...           ...        ...
107      True      True   True               True          True       True
108      True      True   True               True          True       True
109      True      True   True               True          True       True
110      True      True   True               True          True       True
111      True      True   True               True          True       True

     Print Format  Write Format
0            True          True
1            True          True
2            True          True
3            True          True
4            True          True
..            ...           ...
107          True          True
108          True          True
109          True          True
110          True          True
111          True          True

[112 rows x 8 columns]
2014      Variable  Position  Label  Measurement Level  Column Width  Alignment  \
0        True      True   True               True          True       True
1        True      True   True               True          True       True
2        True      True   True               True          True       True
3        True      True   True               True          True       True
4        True      True   True               True          True       True
..        ...       ...    ...                ...           ...        ...
107      True      True   True               True          True       True
108      True      True   True               True          True       True
109      True      True   True               True          True       True
110      True      True   True               True          True       True
111      True      True   True               True          True       True

     Print Format  Write Format
0            True          True
1            True          True
2            True          True
3            True          True
4            True          True
..            ...           ...
107          True          True
108          True          True
109          True          True
110          True          True
111          True          True

[112 rows x 8 columns]
2015      Variable  Position  Label  Measurement Level  Column Width  Alignment  \
0        True      True   True               True          True       True
1        True      True   True               True          True       True
2        True      True   True               True          True       True
3        True      True   True               True          True       True
4        True      True   True               True          True       True
..        ...       ...    ...                ...           ...        ...
107      True      True   True               True          True       True
108      True      True   True               True          True       True
109      True      True   True               True          True       True
110      True      True   True               True          True       True
111      True      True   True               True          True       True

     Print Format  Write Format
0            True          True
1            True          True
2            True          True
3            True          True
4            True          True
..            ...           ...
107          True          True
108          True          True
109          True          True
110          True          True
111          True          True

[112 rows x 8 columns]
2016      Variable  Position  Label  Measurement Level  Column Width  Alignment  \
0        True      True   True               True          True       True
1        True      True   True               True          True       True
2        True      True   True               True          True       True
3        True      True   True               True          True       True
4        True      True   True               True          True       True
..        ...       ...    ...                ...           ...        ...
107      True      True   True               True          True       True
108      True      True   True               True          True       True
109      True      True   True               True          True       True
110      True      True   True               True          True       True
111      True      True   True               True          True       True

     Print Format  Write Format
0            True          True
1            True          True
2            True          True
3            True          True
4            True          True
..            ...           ...
107          True          True
108          True          True
109          True          True
110          True          True
111          True          True

[112 rows x 8 columns]

In [60]:
filespecs[2011][~(filespecs[2011] == filespecs[2013]).all(axis=1)]

,Variable,Position,Label,Measurement Level,Column Width,Alignment,Print Format,Write Format
91,addrtyp,92,LOCATION OF STOP ADDRESS TYPE,Nominal,9,Left,A1,A1

In [62]:
filespecs[2013].loc[91]

Variable                                   addrtyp
Position                                        92
Label                PERSON STOP HOME ADDRESS TYPE
Measurement Level                          Nominal
Column Width                                     9
Alignment                                     Left
Print Format                                    A1
Write Format                                    A1
Name: 91, dtype: object

difference starts at row 79

In [66]:
filespecs[2003].Variable[filespecs[2003].Variable.ne(filespecs[2011].Variable)]

79          sex
80         race
81          dob
82          age
83      ht_feet
84      ht_inch
85       weight
86     haircolr
87     eyecolor
88        build
89     othfeatr
90      addrtyp
91      rescode
92     premtype
93     premname
94      addrnum
95       stname
96      stinter
97      crossst
98       aptnum
99         city
100       state
101         zip
102     addrpct
103      sector
104        beat
105        post
106      xcoord
107      ycoord
108    dettypCM
109      lineCM
110    detailCM
Name: Variable, dtype: object

In [68]:
filespecs[2011].Variable[79]

'forceuse'

the only difference is "forceuse"

In [85]:
filespecs[2003].Variable.equals(filespecs[2011].Variable[:79].append(filespecs[2011].Variable[80:],ignore_index=True))

True

In [87]:
filespecs[2011].loc[79]

Variable                      forceuse
Position                            80
Label                REASON FORCE USED
Measurement Level              Nominal
Column Width                         4
Alignment                         Left
Print Format                        A1
Write Format                        A1
Name: 79, dtype: object

In [89]:
df2011.forceuse

0
1
2
3
4
      ..
994
995
996
997
998
Name: forceuse, Length: 999, dtype: object

In [104]:
stop_frisks = {year : pd.read_csv(f'../data/stop_frisk/{year}.csv', encoding='cp437', low_memory=False) for year in range(2003, 2009)}

Mixed type warnings:
columns 73, 81,82,83,84,85

In [101]:
filespecs[2003].loc[73]

Variable                                             repcmd
Position                                                 74
Label                REPORTING OFFICER'S COMMAND (1 TO 999)
Measurement Level                                   Nominal
Column Width                                              6
Alignment                                              Left
Print Format                                             A4
Write Format                                             A4
Name: 73, dtype: object

In [112]:
stop_frisks[2008].age.value_counts() < 100

18     False
19     False
20     False
17     False
21     False
       ...
238     True
236     True
235     True
743     True
154     True
Name: age, Length: 286, dtype: bool

In [106]:
for year in range(2003, 2009):
    print(year, stop_frisks[year].repcmd.value_counts())

2003         4172
077     3911
103     3685
075     3266
803     2837
        ...
VICE       1
SDRG       1
NBSI       1
76         1
232        1
Name: repcmd, Length: 660, dtype: int64
2004         104837
75       17574
103      16559
77        6947
67        5772
         ...
460          1
ONGS         1
IA           1
QNTP         1
OSA8         1
Name: repcmd, Length: 1484, dtype: int64
2005 075     21349
077     13269
103     13074
079      8684
101      7425
        ...
HG I        1
TBH0        1
BXSC        1
D002        1
640         1
Name: repcmd, Length: 3274, dtype: int64
2006 075    21428
103    17028
802    16121
079    12607
805    10301
       ...
276        1
558        1
451        1
504        1
228        1
Name: repcmd, Length: 348, dtype: int64
2007 802    16410
075    15558
079    12274
070     9336
120     8692
       ...
859        1
571        1
357        1
567        1
454        1
Name: repcmd, Length: 343, dtype: int64
2008 075    21613
802    14889
120    12415
079    11209
070    10175
       ...
248        1
571        1
454        1
263        1
276        1
Name: repcmd, Length: 349, dtype: int64